---
layout: home
title: 在这个大时代， 身为一个IT从业者，我还能做点什么呢
---

<div class="list">
	{% for folder in site.data.folders %}
		<div class="panel">
			<span class="folder-name">{{folder.name}}</span>
			{% for sub in folder.list %}
			<div class="section">
				<span class="section-name">{{sub}}</span>
				<div class="article clear">
					{% for article in site.categories[sub] %}
						<div class="block">
							<a href="{{article.url}}">
								<div class="block-content">
									<p class="article-name">{{article.title}}</p>
									<p class="article-description">{{article.excerpt}}</p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>

