<!DOCTYPE html>
<html>
 <head>
 	<meta http-equiv="content-type" content="text/html; charset=utf-8">
 	<title>{{ page.title }}</title>
 	<link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
 	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/home.css" />
 	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/rouge.thankful_eyes.css" />
 </head>
 <body>
 	<div id="container">
 		<div id="banner">
 			<a href="/">
	 			<div class="banner-content">
		 			<p class="title">{{site.title}}</p>
		 			<p class="description">{{site.description}}</p>
	 			</div>
	 		</a>
 		</div>
 		<div id="center">
	 		<div id="center-main">
	 			{{content}}
	 		</div>
 		</div>
 		<div id="footer">
 			<ul class="link-list clear">
 				<li>
 					<a href="https://github.com/ziya05" >
	 					<img class="link-img" src="/assets/img/git.jpg" />
	 					<span class="link-text">git</span>
 					</a>
 				</li>
 				<li>
 					<a href="mailto:hello.yuncai.world@gmail.com?subject=I love you so much, you are so strong!">
	 					<img class="link-img" src="/assets/img/mailto.jpg" />
	 					<span class="link-text">mail</span>
 					</a>
 				</li>
 			</ul>
 		</div>
 	</div>
 	<div>
 	</div>
 </body>
 </html>