---
layout: default
---

{{content}}

{{ if ( page.gitment == "true") }}

<div style="padding:100px 0;">
	<div id="git-comments"></div>
	<!-- 英文
	<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->

	<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
	<script src="https://billts.site/js/gitment.js"></script>

	<script>
	  var gitment = new Gitment({
	    id: '{{ page.slug }}',  // 可选, 默认为 location.href
	    owner: 'ziya05',
	    repo: 'comments',
	    oauth: {
	      client_id: '522a7ed92202b48e23e7',
	      client_secret: '24dbe83259883c0f1a4362913543259f8c095196',
	    }
	  })
	  gitment.render('git-comments')
	</script>
</div>
{{ endif }}